@import url(./reset.css);

/* ------HEADER------ */
.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.header_nav {
  display: flex;
  gap: 32px;
}

.header_link {
  font-weight: 600;
  color: #594f43;
  padding: 10px 0;
}

.header_logo {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.header_burger {
  display: none;
}

@media (max-width:700px) {
  .header_burger {
    display: inline-block;
    cursor: pointer;
  }

  .header_bar1,
  .header_bar2,
  .header_bar3 {
    width: 35px;
    height: 4px;
    background-color: #403930;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .header_bar1 {
    transform: translate(0, 10px) rotate(-45deg);
  }

  .change .header_bar2 {
    opacity: 0;
  }

  .change .header_bar3 {
    transform: translate(0, -10px) rotate(45deg);
  }

  .header_nav {
    display: none;
  }
}

/* ----- MOBILE_MENU-----*/
.mobile_menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.mobile_menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile_menu_container {
  position: relative;
  margin-left: 40%;
  padding: 5rem 1rem 1rem 1rem;
  height: 100%;
  background-color: #403930;
}

.mobile_nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mobile_link {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #fff8f2;
}

.mobile_social {}

/* ------HERO------ */
.hero_container {
  display: flex;
  justify-content: space-between;
}

.hero_content {
  padding-top: 66px;
  padding-bottom: 146px;
}

.hero_desc_hello {
  margin-bottom: 24px;
}

.hero_desc_hello_link {
  color: #403930;
  padding: 12px 24px;
  background-color: #ffddbf;
  border-radius: 10px;
}

.hero_title {
  margin-bottom: 40px;
}

.hero_desc_links {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.hero_desc_link_view {
  padding: 24px 51px;
}

.hero_desc_link_contact {
  padding: 24px 66px;
}

.hero_img_box {
  flex-shrink: 0;
  max-width: 484px;
  margin-top: auto;
}

@media screen and (max-width:1366px) {
  .hero_img_box {
    max-width: 365px;
  }

  .hero_content {
    padding-top: 55px;
    padding-bottom: 123px;
  }
}

.hero_box_image {
  width: 100%;
}

@media screen and (max-width:1220px) {
  .hero_desc_link_view {
    padding: 19px 41.5px;
  }

  .hero_desc_link_contact {
    padding: 19px 54px;
  }

  .hero_content {
    padding-top: 51px;
    padding-bottom: 113px;
  }
}

@media screen and (max-width:1080px) {
  .hero_img_box {
    max-width: 335px;
    margin-top: 5rem;
  }

  .hero_content {
    padding-top: 51px;
    padding-bottom: 56px;
  }
}

@media screen and (max-width:860px) {
  .hero_content {
    padding-top: 32px;
    padding-bottom: 32px;
  }

}

@media screen and (max-width:806px) {
  .hero_container {
    flex-direction: column;
  }

  .hero_img_box {
    max-width: 335px;
    margin: 0 auto 32px
  }
}

@media screen and (max-width:500px) {
  .hero_desc_links {
    flex-direction: column;
    align-items: center;
  }
}

/* ------MYWORK------*/
.mywork {
  padding-top: 88px;
  padding-bottom: 88px;
  background: rgba(255, 221, 191, 0.5);
}

.section {}

.mywork_container {}

.container {}

.mywork_title {
  margin-bottom: 40px;
}

.H2 {}

.mywork_box_content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.mywork_content {
  background: #fff8f2;
  border-radius: 24px;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.mywork_content_text {
  padding-left: 72px;
}

.mywork_text_title {
  margin-bottom: 4px;
}

.H3 {}

.mywork_text_desc {
  margin-bottom: 24px;
}

.H4 {}

.mywork_text_link {
  padding: 6px 12px;
}

.mywork_content_img {
  max-width: 590px;
}

.mywork_img {
  border-radius: 24px;
}