@import url(./reset.css);

body {
  position: relative;
  height: 100%;
}

/* ------HEADER------ */
.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.header_nav {
  display: flex;
  gap: 32px;
}

.header_link {
  font-weight: 600;
  color: #594f43;
  padding: 10px 0;
  position: relative;
}

.header_link::after {
  content: "";
  position: absolute;
  width: 0%;
  border-bottom: 3px solid #594f43;
  border-radius: 100px;
  left: 0;
  bottom: 10px;
  transition: all 250ms ease-in;
}

.header_link:hover::after {
  width: 100%;
}

.header_logo {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.header_burger {
  display: none;
}

@media (max-width:768px) {
  .header_burger {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 100;
  }

  .header_bar1,
  .header_bar2,
  .header_bar3 {
    width: 35px;
    height: 4px;
    background-color: #403930;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .header_bar1 {
    transform: translate(0, 10px) rotate(-45deg);
  }

  .change .header_bar2 {
    opacity: 0;
  }

  .change .header_bar3 {
    transform: translate(0, -10px) rotate(45deg);
  }

  .header_nav {
    display: none;
  }
}

/* ----- MOBILE_MENU-----*/
.mobile_menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.mobile_menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile_menu_container {
  position: relative;
  margin-left: 40%;
  padding: 5rem 1rem 1rem 1rem;
  height: 100%;
  background-color: #ffddbf;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile_nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mobile_link {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #403930;
  transition: all 250ms ease-in;
}

.mobile_link:hover,
.mobile_link:active {
  transform: scale(0.95);
}

.mobile_social {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/* ------HERO------ */
.hero_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_content {
  padding-top: 16px;
  padding-bottom: 16px;
}

.hero_desc_hello {
  margin-bottom: 24px;
}

.hero_desc_hello_link {
  color: #403930;
  padding: 12px 24px;
  background-color: #ffddbf;
  border-radius: 10px;
}

.hero_title {
  margin-bottom: 40px;
}

.hero_desc_links {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.hero_img_box {
  flex-shrink: 0;
  max-width: 484px;
  margin-top: auto;
}

.hero_box_image {
  width: 100%;
}

@media screen and (max-width:1280px) {
  .hero_img_box {
    max-width: 365px;
  }
}

@media screen and (max-width:1024px) {
  .hero_img_box {
    max-width: 335px;
  }
}

@media screen and (max-width:768px) {
  .hero_container {
    flex-direction: column;
  }

  .hero_img_box {
    max-width: 335px;
    margin: 0 auto 0
  }
}

@media screen and (max-width:500px) {
  .hero_desc_links {
    flex-direction: column;
    align-items: center;
  }

  .hero_title {
    margin-bottom: 24px;
  }
}

/* ------MYWORK------*/
.mywork {
  padding-top: 88px;
  padding-bottom: 88px;
  background: rgba(255, 221, 191, 0.5);
}

.mywork_container {}

.mywork_title {
  margin-bottom: 40px;
}

.mywork_box_content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.mywork_content {
  background: #fff8f2;
  border-radius: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.mywork_content.hidden {
  display: none;
}

.mywork_content_text {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 72px;
}

.mywork_text_title {
  margin-bottom: 4px;
}

.mywork_text_desc {
  margin-bottom: 24px;
  font-weight: 600;
  max-width: 600px;
}

.mywork_text_links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.mywork_text_link {
  padding: 6px 12px;
}

.mywork_content_img {
  max-width: 590px;
}

.mywork_img {
  border-radius: 24px;
  border: 1px solid #4e5e80;
}

.mywork_container .mywork_button {
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
}

@media screen and (max-width:1280px) {
  .mywork {
    padding-top: 74px;
    padding-bottom: 74px;
  }

  .mywork_content_text {
    padding-left: 50px;
  }

  .mywork_content_img {
    max-width: 400px;
  }
}

@media screen and (max-width:1024px) {
  .mywork {
    padding-top: 68px;
    padding-bottom: 68px;
  }

  .mywork_content {
    flex-direction: column;
    max-width: 591px;
    margin: 0 auto;
    align-items: stretch;
  }

  .mywork_content_text {
    padding: 0 24px;
    order: 2;
  }

  .mywork_text_links {
    justify-content: center;
    padding-bottom: 16px;
  }

  .mywork_content_img {
    max-width: 590px;
  }

  .mywork_title {
    text-align: center;
  }
}

@media screen and (max-width:768px) {
  .mywork {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .mywork_text_desc {
    margin-bottom: 16px;
  }

}

/* ------reviews----- */
.reviews_container {
  max-width: 1236px
}

.reviews_header {
  text-align: center;
  margin-bottom: 96px;
}

.reviews_title {}

.reviews_subtitle {
  font-weight: 500;
}

.swiper {
  width: 100%;
  height: 100%;
}

.reviews_swiper_wrapper {
  max-width: 936px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews_swiper_slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews_swiper_text {
  text-align: center;
  max-width: 391px;
}

.reviewsSwiper .swiper-button-prev,
.reviewsSwiper .swiper-button-next {
  color: #594f43;
  width: 17px;
  height: 29px;
}

.reviews_swiper_name {
  font-weight: 700;
  color: #594f43;
}

@media screen and (max-width:1280px) {
  .reviews_swiper_text {
    max-width: 332px;
  }

  .reviews_header {
    margin-bottom: 72px;
  }
}

@media screen and (max-width:1024px) {
  .reviews_swiper_text {
    max-width: 482px;
  }
}

@media screen and (max-width:768px) {
  .reviews_swiper_text {
    max-width: 292px;
  }

  .reviews_header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width:425px) {
  .reviews_swiper_text {
    max-width: 206px;
  }
}


/*----------- aboutme ----------- */
.aboutme {
  background: rgba(255, 221, 191, 0.5);
}

.aboutme_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.aboutme_content {
  max-width: 460px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.aboutme_title {
  margin-bottom: 8px;
}

.aboutme_text {
  font-weight: 500;
  margin-bottom: 40px;
}

.aboutme_img_box {
  flex-shrink: 0;
  max-width: 484px;
  margin-top: auto;
}

.aboutme_box_button {
  display: flex;
}

@media screen and (max-width:1024px) {
  .aboutme_img_box {
    max-width: 335px;
  }
}

@media screen and (max-width:768px) {
  .aboutme_container {
    flex-direction: column;
  }

  .aboutme_img_box {
    max-width: 335px;
    margin: 0 auto 0
  }

  .aboutme_button {
    display: inline-block;
    margin: 0 auto;
  }

  .aboutme_content {
    padding-top: 48px;
    padding-bottom: 0;
  }

  .aboutme_title {
    text-align: center;
  }
}

/* ---------- contact ---------- */
.contact {}

.contact_container {}

.contact_title {
  text-align: center;
  margin-bottom: 40px;
}

.contact_content {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.contact_desc {}

.contact_subtitle {
  font-weight: 700;
  margin-bottom: 18px;
}

.contact_list {
  margin-bottom: 18px;
}

.contact_item {
  font-weight: 500;
  list-style: inside;
}

.contact_desc_text {
  font-weight: 600;
}

.contact_box_form {
  width: 500px;
  position: relative;
}

.contact_form {
  display: flex;
  flex-direction: column;
}

.contact_group {
  position: relative;
}

.contact_input {
  background-color: transparent;
}

.contact_label_placeholder {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #ffeed9;
  transition: all .3s ease;
}

.contact_textarea {
  resize: none;
  height: 100px;
}

.contact_group .contact_input,
.contact_group .contact_textarea {
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
  transition: all 250ms ease-in;
}

.contact_group .contact_input:placeholder-shown+label,
.contact_group .contact_textarea:placeholder-shown+label {
  top: 10px;
  background-color: transparent;
}

.contact_group .contact_input:hover,
.contact_group .contact_textarea:hover {
  box-shadow: 0px 4px 8px -1px rgba(89, 79, 67, 0.6);
}

.contact_group .contact_input:focus,
.contact_group .contact_textarea:focus {
  border-color: #594f43;
  box-shadow: 0px 4px 8px -1px rgba(89, 79, 67, 0.6);
}

.contact_button {
  background-color: transparent;
  padding: 6px 40px;
}

/**/
.contact_message {
  display: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  width: 50%;
}

.contact_message.success {
  background-color: #e6f7ec;
  color: #287d3c;
  border: 1px solid #b6e2c6;
}

.contact_message.error {
  background-color: #fdecea;
  color: #b73232;
  border: 1px solid #f5c2c0;
}

@media screen and (max-width:1280px) {
  .contact_box_form {
    width: 450px;
  }

  .contact_label_placeholder {
    top: -8px;
  }
}

@media screen and (max-width:1024px) {
  .contact_box_form {
    width: 400px;
  }

  .contact_label_placeholder {
    top: -7px;
  }
}

@media screen and (max-width:768px) {
  .contact_content {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* ---------- footer ---------- */
.footer {
  background: rgba(255, 221, 191, 0.5);
}

.footer_container {}

.footer_title {
  margin-bottom: 56px;
}

.footer_button_social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.footer_button {}

.footer_social_box {
  display: flex;
  gap: 24px;
}

.social_link {
  fill: #403930;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-in;
}

.social_link:hover {
  transform: scale(1.2);
}

@media screen and (max-width:806px) {

  .footer_button {
    display: block;
    margin: 0 auto;
  }
}

.social_link {}

.social_link_svg {}